<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ReviewDataRetrieval.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <ReviewDataRetrieval.Properties.Settings>
      <setting name="apiKey" serializeAs="String">
        <value>AIzaSyC198AyRLiVMrcVZV-Wfs8A3SimJNh8VLQ</value>
      </setting>
      <setting name="playlistId" serializeAs="String">
        <value>UUt7fwAhXDy3oNFTAzF2o8Pw</value>
      </setting>
      <setting name="baseUrl" serializeAs="String">
        <value>https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&amp;maxResults=50</value>
      </setting>
    </ReviewDataRetrieval.Properties.Settings>
  </userSettings>
</configuration>